:root{
  --color-base: #25262A;
  --color-base2: #277F5A;
  --color-base3: #52F4AB;
  --color-base4: #161619;
  --buton-color: #FEB724;
}



body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-base);
}

p {
    font-family: "Sofia", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.header-container{
  text-align: center;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: var(--color-base4);
    color: #fff;
    transition: all 0.3s;
    text-align: center;
    z-index: 999;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--color-base4);
    text-align: center;
    height: 20px;
    
}

.header-text{
  font-family: 'Audiowide', sans-serif;
  font-size: 50px;
  color: #52F4AB;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    font-family: 'Audiowide', monospace;
    padding: 10px;
    font-size: 23px;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--color-base3);
    background:var(--color-base);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background:var(--color-base);
    color: var(--color-base3);
}

ul ul a {
    font-size: 18px !important;
    padding-left: 30px !important;
    color: white;
    background:var(--color-base);
}

ul ul a:hover {
  color: var(--color-base3)!important;
  background:var(--color-base4)!important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.header-text{
  text-align: center;
}

h1{
  color: white;
  font-size: 100px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar.active {
  margin-left: -250px;
}

/*WAVES STYLE*/
.cnt {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

}


.cnt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
  transform: translateX(-50%);
  left: 50%;
}


.cnt .shape-fill {
  fill: var(--color-base2);
}


.menu-btn{
  background-color: var(--color-base);
  color: var(--color-base3);
}

.menu-btn:hover{
  background-color: var(--color-base);
  color: var(--color-base3);
}

.btn-warning{
  margin-top: 10px;
  width: 170px;
  height: 60px;
  border-radius: 10%;
  transition: all .2s ease-in-out; 
  z-index: 1;
  position: relative;
}

.btn-warning span{
  font-family: 'Montserrat',Serif;
  color: #161619;
  font-size: 20px;
  font-weight: 900;
}

.btn-warning:hover, span:hover{
  transform: scale(1.15); 
  color: white;
}


@media (min-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }

  #sidebar.active {
      margin-left: 0;
  }

  
}

h2{
  position: relative;
  z-index: 10;
}

#hello-world{
  font-family: 'Montserrat',Serif;
  color: white;
  font-size: 78px;
  font-weight:600;
}


#iam{
  font-family: 'Montserrat',Serif;
  color: white;
  font-size: 60px;
  font-weight: 600;
}


#iam2{
  font-family: 'Montserrat',Serif;
  color: white;
  font-size: 70px;
  font-weight: 700;
}


#johnny{
  font-family: 'Montserrat',Serif;
  color: var(--color-base2);
  font-size: 110px;
  font-weight:900;
}

#jumbotron{
  width: 100%;
  height: 100vh;
  background: var(--color-base);
}

#copyright{
  color: white;
}