
:root{
  --color-base: #25262A;
  --color-base2: #277F5A;
  --color-base3: #52F4AB;
  --color-base4: #161619;
  --buton-color: #FEB724;

}

body {
  background-color: var(--color-base);

}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    background-color: var(--color-base);
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: var(--color-base4);
  color: var(--color-base3);
  transition: all 0.3s;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a:hover {
  color: var(--color-base3);
  background: #2d2e33;
}

#sidebar ul.ul-components {
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: var(--color-base3);
  background: #2d2e33;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

#sidebar .sidebar-header {
  padding: 20px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#toggle-line{
  background-color: red;
}


/*WAVES STYLE*/
.custom-shape-divider-bottom-1662227330 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1662227330 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 147px;
  transform: translateX(-50%);
  left: 50%;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #2d2e33;}

.custom-shape-divider-bottom-1662227330 .shape-fill {
  fill: var(--color-base2);
}

