body{
    width: 100%;
    height: 100vh;
}

#title, #description, figcaption{
    text-align: center;
}

#tribute-info{
    text-align: center;
}


#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}